services:
  theia:
    image: ghcr.io/ls1intum/theia/theia-no-ls:latest
    container_name: theia-ide
    ports:
      - "3000:3000"
    volumes:
      - project-data:/home/project
    networks:
      - app-net
    environment:
      - LS_JAVA_HOST=java-language-server
      - LS_JAVA_PORT=5000
    depends_on:
      - java-ls

  java-ls:
    image: ghcr.io/ls1intum/theia/langserver-java:latest
    container_name: java-language-server
    environment:
      - LS_PORT=5000
      - WORKSPACE_PATH=/home/project
    volumes:
      - project-data:/home/project
    networks:
      - app-net

volumes:
  project-data:

networks:
  app-net:
    driver: bridge
