services:
  theia:
    image: ghcr.io/ls1intum/theia/theia-rust-no-ls:latest
    container_name: theia-rust-ide
    ports:
      - "3000:3000"
    volumes:
      - project-data:/home/project
    networks:
      - app-net
    environment:
      - LS_RUST_HOST=rust-language-server
      - LS_RUST_PORT=5000
    depends_on:
      - rust-ls

  rust-ls:
    image: ghcr.io/ls1intum/theia/langserver-rust:latest
    container_name: rust-language-server
    environment:
      - LS_PORT=5000
      - WORKSPACE_PATH=/home/project
    volumes:
      - project-data:/home/project
    networks:
      - app-net

volumes:
  project-data:

networks:
  app-net:
    driver: bridge
