name: Build and Push Theia Images

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  release:
  workflow_dispatch:

jobs:
  determine-tag:
    runs-on: arc-runner-set-stateless
    outputs:
      base_tag: ${{ steps.set-tag.outputs.base_tag }}
      sha_tag: ${{ steps.set-tag.outputs.sha_tag }}
      cache_tag: ${{ steps.set-tag.outputs.cache_tag }}
    steps:
      - name: Checkout for SHA access
        uses: actions/checkout@v4

      - name: Set tags
        id: set-tag
        run: |
          SHORT_SHA=$(git rev-parse --short=7 HEAD)
          
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            BASE_TAG="pr-${{ github.event.pull_request.number }}"
            CACHE_TAG="build-cache-pr-${{ github.event.pull_request.number }}"
          else
            BASE_TAG="latest"
            CACHE_TAG="build-cache"
          fi
          
          echo "base_tag=${BASE_TAG}" >> "$GITHUB_OUTPUT"
          echo "sha_tag=${BASE_TAG}-${SHORT_SHA}" >> "$GITHUB_OUTPUT"
          echo "cache_tag=${CACHE_TAG}" >> "$GITHUB_OUTPUT"

  build-and-push-base:
    needs: determine-tag
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@feature/arc-runner-support
    with:
      docker-file: images/base-ide/BaseDockerfile
      image-name: ls1intum/theia/base
      docker-context: .
      tags: |
        ${{ needs.determine-tag.outputs.base_tag }}
        ${{ needs.determine-tag.outputs.sha_tag }}
      network: "host"
      runner-amd64: arc-runner-set-stateless
      runner-arm64: arc-runner-set-stateless-arm
      docker-hub-mirror: "http://registry-mirror.registry-mirror.svc.cluster.local:5000"
      ghcr-mirror: "http://registry-mirror-ghcr.registry-mirror.svc.cluster.local:5000"
      npm-registry: "http://verdaccio.verdaccio.svc.cluster.local:4873"
      apt-proxy: "http://apt-cacher-ng.apt-cacher-ng.svc.cluster.local:3142"
      https-proxy: "http://squid.squid.svc.cluster.local:3129"
      cache-from: |
        type=registry,ref=ghcr.io/ls1intum/theia/base:${{ needs.determine-tag.outputs.cache_tag }}
        type=registry,ref=ghcr.io/ls1intum/theia/base:build-cache
      cache-to: "type=registry,ref=ghcr.io/ls1intum/theia/base:${{ needs.determine-tag.outputs.cache_tag }},mode=max"
    secrets: inherit

  build-and-push:
    needs:
      - determine-tag
      - build-and-push-base
    strategy:
      fail-fast: false
      matrix:
        include:
          - docker-file: images/c/ToolDockerfile
            docker-context: "."
            image-name: ls1intum/theia/c
          - docker-file: images/haskell/ToolDockerfile
            docker-context: "."
            image-name: ls1intum/theia/haskell
          - docker-file: images/java-17/ToolDockerfile
            docker-context: "."
            image-name: ls1intum/theia/java-17
          - docker-file: images/javascript/ToolDockerfile
            docker-context: "."
            image-name: ls1intum/theia/javascript
          - docker-file: images/ocaml/ToolDockerfile
            docker-context: "."
            image-name: ls1intum/theia/ocaml
          - docker-file: images/python/ToolDockerfile
            docker-context: "."
            image-name: ls1intum/theia/python
          - docker-file: images/rust/ToolDockerfile
            docker-context: "."
            image-name: ls1intum/theia/rust

    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@feature/arc-runner-support
    with:
      docker-file: ${{ matrix.docker-file }}
      image-name: ${{ matrix.image-name }}
      docker-context: ${{ matrix.docker-context }}
      build-args: |
        BASE_IDE_TAG=${{ needs.determine-tag.outputs.base_tag }}
      tags: |
        ${{ needs.determine-tag.outputs.base_tag }}
        ${{ needs.determine-tag.outputs.sha_tag }}
      network: "host"
      runner-amd64: arc-runner-set-stateless
      runner-arm64: arc-runner-set-stateless-arm
      docker-hub-mirror: "http://registry-mirror.registry-mirror.svc.cluster.local:5000"
      ghcr-mirror: "http://registry-mirror-ghcr.registry-mirror.svc.cluster.local:5000"
      npm-registry: "http://verdaccio.verdaccio.svc.cluster.local:4873"
      apt-proxy: "http://apt-cacher-ng.apt-cacher-ng.svc.cluster.local:3142"
      https-proxy: "http://squid.squid.svc.cluster.local:3129"
      cache-from: |
        type=registry,ref=ghcr.io/${{ matrix.image-name }}:${{ needs.determine-tag.outputs.cache_tag }}
        type=registry,ref=ghcr.io/${{ matrix.image-name }}:build-cache
      cache-to: "type=registry,ref=ghcr.io/${{ matrix.image-name }}:${{ needs.determine-tag.outputs.cache_tag }},mode=max"
    secrets: inherit
