name: Build and Push Theia Images

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  release:
  workflow_dispatch:

jobs:
  # Determine base tag (pr-<nr> or latest)
  determine-tag:
    runs-on: arc-runner-set-stateless
    outputs:
      base_tag: ${{ steps.set-tag.outputs.base_tag }}
    steps:
      - name: Set BASE_IDE_TAG
        id: set-tag
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            echo "base_tag=pr-${{ github.event.pull_request.number }}" >> "$GITHUB_OUTPUT"
          else
            echo "base_tag=latest" >> "$GITHUB_OUTPUT"
          fi

  build-and-push-base:
    needs: determine-tag
    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@feature/arc-runner-support
    with:
      docker-file: images/base-ide/BaseDockerfile
      image-name: ghcr.io/ls1intum/theia/base
      docker-context: .
      tags: "2025-06-15"
      network: "host"
      runner-amd64: "arc-runner-set-stateless"
      runner-arm64: "arc-runner-set-arm64"
      build-arm64: true
      cache-from: |
        type=registry,ref=ghcr.io/ls1intum/theia/base:build-cache-pr-${{ github.event.number }}
        type=registry,ref=ghcr.io/ls1intum/theia/base:build-cache
      cache-to: "type=registry,ref=ghcr.io/ls1intum/theia/base:build-cache-pr-${{ github.event.number }},mode=max"
    secrets: inherit

  build-and-push:
    needs:
      - determine-tag
      - build-and-push-base
    strategy:
      fail-fast: false
      matrix:
        include:
          - docker-file: images/c/ToolDockerfile
            docker-context: "."
            image-name: ghcr.io/ls1intum/theia/c
          - docker-file: images/haskell/ToolDockerfile
            docker-context: "."
            image-name: ghcr.io/ls1intum/theia/haskell
          - docker-file: images/java-17/ToolDockerfile
            docker-context: "."
            image-name: ghcr.io/ls1intum/theia/java-17
          - docker-file: images/javascript/ToolDockerfile
            docker-context: "."
            image-name: ghcr.io/ls1intum/theia/javascript
          - docker-file: images/ocaml/ToolDockerfile
            docker-context: "."
            image-name: ghcr.io/ls1intum/theia/ocaml
          - docker-file: images/python/ToolDockerfile
            docker-context: "."
            image-name: ghcr.io/ls1intum/theia/python
          - docker-file: images/rust/ToolDockerfile
            docker-context: "."
            image-name: ghcr.io/ls1intum/theia/rust
          # - docker-file: images/swift/ToolDockerfile
          #   docker-context: '.'
          #   image-name: ghcr.io/ls1intum/theia/swift
          #   build-args: |
          #     "BUILDER_IMAGE=swift:5.9.2-focal"
          #     "RUNTIME_IMAGE=swift:5.9.2-focal"
          #     "SWIFTLINT_VERSION=0.54.0"

    uses: ls1intum/.github/.github/workflows/build-and-push-docker-image.yml@feature/arc-runner-support
    with:
      docker-file: ${{ matrix.docker-file }}
      image-name: ${{ matrix.image-name }}
      docker-context: ${{ matrix.docker-context }}
      build-args: |
        BASE_IDE_TAG=${{ needs.determine-tag.outputs.base_tag }}
      network: "host"
      runner-amd64: "arc-runner-set-stateless"
      runner-arm64: "arc-runner-set-arm64"
      build-arm64: true
      cache-from: |
        type=registry,ref=${{ matrix.image-name }}:build-cache-pr-${{ github.event.number }}
        type=registry,ref=${{ matrix.image-name }}:build-cache
      cache-to: "type=registry,ref=${{ matrix.image-name }}:build-cache-pr-${{ github.event.number }},mode=max"
    secrets: inherit
