name: Test ARC Runner - Base Image

on:
  workflow_dispatch:

jobs:
  build-base-image:
    runs-on: arc-runner-set-1
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: "network=host"

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Base Image
        uses: docker/build-push-action@v6
        with:
          context: ./images/base
          file: ./images/base/BaseDockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/theia/base:test-cache
          cache-from: type=registry,ref=ghcr.io/${{ github.repository_owner }}/theia/base:buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/theia/base:buildcache,mode=max
